/* start contact us form  */
.main-header.contactus-mainHeader {
    background-image: url(../images/products\ slider/4.jpg);
}

.contact-section {}

.contact-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-section .container .form-body {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 2rem;
}

@media only screen and (max-width: 992px) {
    .contact-section .container .form-body {

        grid-template-columns: 1fr;

    }
}

.contact-section .container .form-body .form-img {
    width: 100%;
    border-radius: 34% 66% 50% 50% / 71% 58% 42% 29%;
    background: rgb(106, 0, 255);
    background: linear-gradient(117deg, rgba(106, 0, 255, 1) 0%, rgba(142, 67, 240, 1) 47%, rgba(248, 0, 255, 1) 100%);
    -webkit-border-radius: 34% 66% 50% 50% / 71% 58% 42% 29%;
    -moz-border-radius: 34% 66% 50% 50% / 71% 58% 42% 29%;
    -ms-border-radius: 34% 66% 50% 50% / 71% 58% 42% 29%;
    -o-border-radius: 34% 66% 50% 50% / 71% 58% 42% 29%;
    overflow: hidden;
}

.contact-section .container .form-body .form-img img {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form .name-email {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form .name-email input {
    padding: 1rem;
    width: 100%;
    outline: none;
    border: 2px dashed transparent;
    background-color: var(--main-font-color);
    color: white;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 1.2rem;
}

.contact-form .name-email input:focus {
    border-color: var(--main-font-color);

    background-color: #8d3cff88;
}

.contact-form .name-email input::placeholder {
    color: white;
}

.contact-form .name-email input:not(:last-child) {
    margin-right: 1rem;
}

.contact-form .rating {
    display: flex;
    align-items: center;
}

.contact-form .rating label {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--main-font-color);
}

.star {

    cursor: pointer;
    font-size: 24px;
    color: #ccc;

}

.star.active {
    color: var(--main-font-color);
}

.contact-form textarea {
    padding: 1.5rem;
    outline: none;
    border: 2px dashed transparent;
    background-color: var(--main-font-color);
    color: white;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 1.2rem;
    height: 150px;
}
@media only screen and (max-width: 992px) {
    .contact-form textarea {

        margin: 1rem 0;
    }

}
.contact-form textarea::placeholder {
    color: white;
}

.contact-form textarea:focus {
    border-color: var(--main-font-color);

    background-color: #8d3cff88;
}

.main-btn.contact-btn {
    border: none;
    background-color: var(--main-font-color);
    color: white;
    margin: 0 auto;
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
    .main-btn.contact-btn {
     margin-top: 2rem;
    }

}
@media only screen and (max-width: 767px) {
    .main-header {
        font-size: 2rem;
    }
}
/* end contact us form  */

