/* start landing section */
.landing-section {
    height: 100vh;
}

.landing-section .slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.landing-section .slider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: .8;
    background-image: linear-gradient(180deg, #584D66 0%, #150E1F 100%);
    ;
    top: 0;
    z-index: 100;
}

.landing-section .container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 102;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .landing-section .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

.landing-section .container .content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media only screen and (max-width: 767px) {
    .landing-section .container .content{
        gap: 1rem;
        text-align: center;
    }
}
.landing-section .container .content h5 {
    font-size: 1.25rem;
}

.landing-section .container .content h1 {
    font-size: 5rem;
}
@media only screen and (max-width: 767px) {
    .landing-section .container .content h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .landing-section .container .content h1 {
        font-size: 3rem;
    }
}
.landing-section .container .content h5,
.landing-section .container .content h1 {
    font-weight: 300;
    margin: 0;
}
.landing-section .container .content p{
    line-height: 1.6;
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    .landing-section .container .content p{
        line-height: 1.6;
        font-size: 1.2rem;
        margin: 1rem 0;
    }
}

/* end landing section */