.signUp-section {
    height: 70vh;
    margin-top: 10rem;
}

@media only screen and (max-width: 767px) {
    .signUp-section {
        height: 100vh;
        margin-top: 8rem;
    }
}

.signUp-section .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-section .container .signUp-form {
    width: 50%;
    background-color: var(--main-font-color);
    height: 100%;
    display: flex;

    justify-content: space-around;
    flex-direction: column;
    padding: 3rem;
}

@media only screen and (max-width: 767px) {
    .signUp-section .container .signUp-form {
        width: 100%;
        height: 85%;
        padding: 1.5rem;
    }
}

.signUp-section .container .signUp-form input:not(input[type="submit"]) {
    padding: 1rem;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    color: var(--second-font-color);
    font-size: 1.5rem;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    background-color: #fff6;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

}

.signUp-section .container .signUp-form label {
    font-size: 1.5rem;
    color: #fff;

}

@media only screen and (max-width: 767px) {
    .signUp-section .container .signUp-form input:not(input[type="submit"]) {
        padding: 0.6rem;

    }
}

.signUp-section .container .signUp-form input:not(input[type="submit"])::placeholder {
    color: #fff;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.signUp-section .container .signUp-form input:not(input[type="submit"]):focus {
    border-color: #ae70ff;
    background-color: #fff;
}

.signUp-section .container .signUp-form input:not(input[type="submit"]):focus::placeholder {
    color: var(--second-font-color);
}

.signUp-section .container .signUp-form input[type="file"] {
    color: #fff9 !important;
    cursor: pointer;
}

.signUp-section .container .signUp-form .signUp-logo {
    margin: 0 auto;
    width: 40%;

}

@media only screen and (max-width: 767px) {
    .signUp-section .container .signUp-form .signUp-logo {

        width: auto;
    }
}

.signUp-section .container .signUp-form .main-btn.signUp-btn {
    width: 100%;
    outline: none;
    border: none;
    color: var(--main-font-color);
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .products-cards .products {

        grid-template-columns: 1fr;

    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .products-cards .products {

        grid-template-columns: repeat(3, 1fr);

    }
}

.signUp-section .container .signUp-form a {
    color: #fff;
    font-size: 1.5rem;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    text-align: center;
}

.signUp-section .container .signUp-form a:hover {
    color: #fff9;
    cursor: pointer;
}

.signUp-form ::-webkit-file-upload-button {
    border: none;
    background-color: var(--main-font-color);
    color: #fff;
    margin-right: 1rem;
    padding: 0.2rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#successMessage{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(9, 255, 0);
    font-weight: 500;
}
#errorMessage{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(190, 32, 32);
    font-weight: 500;
}

